<mat-toolbar class="header">

    <mat-toolbar-row>
      <span class="logo align-middle">
        <a target="_blank" href="http://jsdaddy.io/"><img src="assets/img/logo.png" alt="jsdaddy" class="logo"></a>
      </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span class="components">
       <a class="component-mask" href="">Components</a> </span>
    </mat-toolbar-row>

    <!-- <mat-toolbar-row>
      <span class="github">
        <a class="git-link" target="_blank" href="https://github.com/JsDaddy/ngx-mask">
          <img src="assets/img/github.png" alt="github">
        </a>GitHub
      </span>
    </mat-toolbar-row> -->

</mat-toolbar>