.header {
    display: flex;
   flex-direction: row;
   background-color: whitesmoke;
}
mat-toolbar-row {
    justify-content: flex-start;
    width: 5%;
    padding: 0 56px;
}
a{
   text-decoration: none; 
   color: black;
}
.logo{
    width: 75px;
    height: 35px; 
}
