<mat-toolbar class=" header mat-elevation-z6">
    <mat-toolbar-row>
        <span class="logo align-middle">
            <img src="assets/img/logo.png" alt="jsdaddy" class="logo">
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>
            <a mat-button [routerLink]="['/mask-component']">Masks</a>
        </span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>
            <a mat-button target="_blank" href="https://github.com/JsDaddy/ngx-mask"> GitHub </a>
        </span>
    </mat-toolbar-row>


</mat-toolbar>