.mask-wrap {
    display: flex
}

mat-expansion-panel {
    width: 350px
}

mat-drawer-container {
    margin-top: 65px;
    height: 100%;
    min-width: 350px;
    
}
  

button {
    width: 340px

}

.date {
    text-align: start
}
