.install {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.instal-wrapper {
    text-align: justify;
}
table {
    width: 38%;
  }
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }