.content
    margin-top: 65px
    display: flex
    flex-direction: row
    background: #f5f5f5
    // width: 1500px
    .examples-container
        display: flex
        flex-direction: column
<<<<<<< HEAD
        max-width: 1200px
=======
>>>>>>> 65271e836fd930abcbe322f6a1b6ae1222007179
        // justify-content: center
        // padding-top: 40px
        .examples-wrapper
            display: flex
            flex-direction: column
            // justify-content: inherit
            flex-wrap: wrap
            width: 1800px
            .example
<<<<<<< HEAD
                padding: 20px
                .mat-card
                    max-width: 350px
=======
                padding: 30px
                .mat-card
                    width: 350px
>>>>>>> 65271e836fd930abcbe322f6a1b6ae1222007179
                    height: 170px
                    display: flex
                    flex-direction: column
                    .model-wrap
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        align-items: baseline
                        .values
                            display: flex
                            flex-direction: column
    .doc-container
        display: flex
        flex-direction: column
        .doc
<<<<<<< HEAD
             padding: 20px
=======
             padding: 30px
>>>>>>> 65271e836fd930abcbe322f6a1b6ae1222007179
             .mat-card
                 height: 170px
                 max-width: 620px

                        
mat-card
    width: 700px
<<<<<<< HEAD

@media (max-width: 620px)
   .examples-container
      display: none !important
=======
>>>>>>> 65271e836fd930abcbe322f6a1b6ae1222007179
