.content
    margin-top: 100px
    .examples-container
        display: flex
        flex-direction: row
        justify-content: center
        padding-top: 40px
        .examples-wrapper
            display: flex
            flex-direction: row
            justify-content: inherit
            flex-wrap: wrap
            width: 1800px
            .example
                padding: 30px
                .mat-card
                    width: 350px
                    min-height: 150px
                    display: flex
                    flex-direction: column
                    .model-wrap
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        align-items: baseline
                        .values
                            display: flex
                            flex-direction: column
                        
mat-card
    width: 700px
