<div class="main">
  <div class="main-wrapper">
    <h1 class="mat-display-1">Angular Mask Plugin</h1>
    <p class="mat-subheading-1">Angular Plugin to make masks on form fields and html elements.</p>
    <a mat-raised-button [routerLink]="['/getting-start']" class="get-started"> Get Started </a>
  </div>

  <div class="meet-wrap">
    <div class="artcl-wrap-head">
      <div class="text-wrap">
        <p class="mat-display-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          dicta quos!</p>
      </div>
    </div>
    <mat-card>
      <mat-card-content>
        <div class="artcl-wrap-separ">
          <div class="text-wrap">
            <p class="mat-display-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              dicta quos!</p>
          </div>
          <div class="img-wrap">
            <img src="assets/img/separator.png">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="secure-wrap">
      <mat-card-content>
        <div class="artcl-wrap-secure">
          <div class="img-wrap">
            <img src="assets/img/secure-input.png">
          </div>
          <div class="text-wrap">
            <p class="mat-display-1">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              dicta quos!</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>