/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~highlight.js/styles/color-brewer.css';

code {
    background: #f7f7f7 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #fc0 !important
}